.idea
**/.DS_Store
build
.gradle
out
integration-service.iml
logs
dump.sql
goonj/src/test/resources/goonj-secret.properties
amrit/src/test/resources/amrit-secret.properties
**/avni-secret.properties

**/bin/**
*.iml
/integration-data/src/main/resources/db/onetime/poststart-move-goonj-config-to.db.sql
