.idea
**/.DS_Store
build
.gradle
out
integration-service.iml
logs
dump.sql
goonj/src/test/resources/goonj-secret.properties
amrit/src/test/resources/amrit-secret.properties
**/avni-secret.properties


*.iml
